name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Install dependencies
        run: npm run test -- --coverage

  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check styling v2
        run: npm run format:check